<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% data.forEach(function(item) { %>
            <li><%= item %></li>
        <% }); %>
    </ul>
<p>lorem ipsum new changes get reflected </p>
<p> hello there new update from ajay</p>
</body>
</html>
